body {
  background-color: #FFFFFF;
  font-family: Source Sans Pro, sans-serif;
  overflow: auto;
  width: 80%;
  margin: 0 auto; }

.top_content {
  margin-top: 10px; }

hr {
  border: 0;
  height: 1px;
  background: #333; }

#top_content_right {
  text-align: right; }

#top_content_left {
  font-weight: lighter;
  font-size: 30px;
  text-align: left; }

.top_content #apply {
  width: 50px;
  border: none;
  background-color: #ccccff;
  transition: background-color 0.5s ease; }
  .top_content #apply:hover {
    background-color: #540eff; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

input, select {
  width: 150px; }

.form #form_left {
  text-align: left; }

#furniture, #book {
  display: none; }

.list_content {
  text-align: center; }
  .list_content ul {
    display: inline;
    list-style-type: none; }
  .list_content li {
    text-align: center;
    list-style-type: none; }
  .list_content div {
    border: 1px solid #000000; }
  .list_content table {
    width: 100%; }
  .list_content input {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px; }

/*# sourceMappingURL=style.css.map */
