$white: #FFFFFF;
$black: #000000;
$font:    'Source Sans Pro', sans-serif;
body {
  background-color: $white;
  font-family: $font;
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}

.top_content {
  margin-top: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
}

#top_content_right {
  text-align: right;
}

#top_content_left {
  font-weight: lighter;
  font-size: 30px;
  text-align: left;
}

.top_content #apply {
  width: 50px;
  border: none;
  background-color: rgb(204, 204, 255);
  transition: background-color 0.5s ease;
  &:hover {
    background-color: rgb(84, 14, 255);
  }
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input, select {
  width: 150px;
}

.form #form_left {
  text-align: left;
}

#furniture, #book {
  display: none;
}

.list_content {
  text-align: center;
  ul {
    display: inline;
    list-style-type: none;
  }
  li {
    text-align: center;
    list-style-type: none;
  }
  div {
    border: 1px solid $black;
  }
  table {
    width: 100%;
  }
  input {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  }
}